* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px; }

@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-Light.ttf); }
@font-face {
  font-family: RalewayBlod;
  src: url(../assets/fonts/Raleway-Bold.ttf); }
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Regular.ttf); }
.header {
  width: 100%;
  height: 60px;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.329); }
  .header .header__title {
    color: #08A6E4;
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    font-family: Raleway;
    font-size: 30px; }
  .header .header__burger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px; }
    .header .header__burger span {
      display: block;
      height: 3px;
      width: 100%;
      margin: 3px 0;
      background-color: #08A6E4; }

.opensection {
  text-align: center;
  width: 100%; }
  .opensection .open__article {
    margin: 100px auto 30px;
    width: 300px;
    height: 220px;
    top: 100px;
    left: 30px; }
    .opensection .open__article .article__title {
      font-family: Raleway;
      font-size: 35px;
      padding-top: 10px; }
    .opensection .open__article .article__paragraph {
      font-family: "Open Sans";
      font-size: 15px;
      padding-top: 20px;
      margin: 0 20px; }
    .opensection .open__article .article__btn {
      cursor: pointer;
      background-color: #08A6E4;
      color: white;
      border: #08A6E4;
      border-radius: 40px;
      box-shadow: 0px 4px 10px rgba(8, 166, 228, 0.4);
      width: 100%;
      height: 60px;
      font-family: "Open Sans";
      font-size: 16px;
      margin-top: 30px; }
  .opensection .open__div {
    width: 100%;
    height: 260px;
    overflow: hidden; }
    .opensection .open__div .div__img {
      display: block;
      position: relative;
      background-size: 700px;
      width: 200%;
      margin: 0 auto;
      height: 100%;
      right: 12em; }

.mostsection {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 10px auto;
  padding: 20px 0px; }
  .mostsection .most__title {
    font-family: Raleway;
    font-size: 2em;
    padding: 0 1em;
    font-weight: lighter; }
  .mostsection .most__article {
    margin-top: 20px;
    height: auto; }
    .mostsection .most__article .article__stat {
      width: 160px;
      height: 170px;
      margin: 10px auto; }
      .mostsection .most__article .article__stat .stat__circle {
        margin: 10px 0;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: inline-block;
        position: relative; }
        .mostsection .most__article .article__stat .stat__circle .stat__circle__person {
          position: absolute;
          width: 40px;
          height: 50px;
          top: 2px; }
        .mostsection .most__article .article__stat .stat__circle .stat__circle__eye {
          position: absolute;
          top: 10px;
          left: 18px; }
        .mostsection .most__article .article__stat .stat__circle .stat__circle__catalog {
          position: absolute;
          width: 48px;
          height: 44px;
          top: 8px;
          left: 32px; }
      .mostsection .most__article .article__stat .stat__number {
        font-family: RalewayBlod;
        font-weight: bold;
        font-size: 1.2em; }
      .mostsection .most__article .article__stat .stat__text {
        font-family: Raleway;
        font-size: 1.1em;
        color: lightslategrey;
        margin: 20px 20px;
        text-align: center; }
    .mostsection .most__article .stat__circle--red {
      background-color: #fb3b64; }
    .mostsection .most__article .circle--blue {
      background-color: #08a6e4; }
    .mostsection .most__article .circle--green {
      background-color: #55dfb4; }

.sectioncards {
  border: solid #f7f7f7;
  background-color: #f7f7f7;
  margin-top: 40px; }
  .sectioncards .section__card {
    width: 315px;
    height: 380px;
    margin: 40px auto;
    border: solid 1px #e8e9ed;
    border-radius: 5px;
    background-color: white; }
    .sectioncards .section__card .div__top {
      width: 100%;
      height: auto;
      margin: 30px auto 10px;
      position: relative;
      display: inline-block; }
      .sectioncards .section__card .div__top .card__circle {
        width: 90px;
        height: 90px;
        border-radius: 40px;
        transform: rotate(45deg);
        background-color: #fb3b64;
        position: absolute;
        left: 10.5em;
        bottom: 2.5em; }
      .sectioncards .section__card .div__top .card__ellipse {
        width: 132px;
        height: 132px;
        background-color: #08a6e4;
        position: absolute;
        border-radius: 50%;
        left: 5em;
        bottom: 1em; }
      .sectioncards .section__card .div__top .card__macbook {
        display: block;
        width: 195px;
        height: 110px;
        margin: 0 auto;
        position: relative; }
      .sectioncards .section__card .div__top .card__phone {
        display: block;
        position: relative;
        margin: 0 auto;
        left: 0.9em;
        bottom: 0.4em; }
    .sectioncards .section__card .div__bottom {
      width: 90%;
      height: auto;
      margin: 0px auto; }
      .sectioncards .section__card .div__bottom .bottom__title {
        margin-top: 30px;
        font-family: Raleway;
        font-weight: 500;
        font-size: 2em;
        width: 218px; }
      .sectioncards .section__card .div__bottom .bottom__text {
        margin-top: 40px;
        font-family: "Open Sans";
        font-size: 0.9em;
        color: black;
        font-weight: 500; }
      .sectioncards .section__card .div__bottom .bottom__title2 {
        font-family: Raleway;
        font-weight: 500;
        font-size: 2em;
        width: 218px; }
      .sectioncards .section__card .div__bottom .bottom__text2 {
        margin-top: 20px;
        font-family: "Open Sans";
        font-size: 0.9em;
        color: black;
        font-weight: 500; }
  .sectioncards .section__longcard {
    width: 315px;
    height: 520px;
    margin: 40px auto;
    border: solid 1px #e8e9ed;
    border-radius: 5px;
    background-color: white; }
    .sectioncards .section__longcard .div__toplongcard {
      width: 90%;
      height: 270px;
      margin: 30px auto 0px; }
      .sectioncards .section__longcard .div__toplongcard .toplongcard__title {
        font-family: Raleway;
        font-weight: 500;
        font-size: 2em;
        width: 260px; }
      .sectioncards .section__longcard .div__toplongcard .toplongcard__text {
        width: 274px;
        margin-top: 20px;
        margin-right: 20px;
        font-family: "Open Sans";
        font-size: 1em;
        color: black;
        font-weight: 500; }
    .sectioncards .section__longcard .div__bottomlongcard {
      width: 100%;
      height: 220px;
      background-color: #55dfb4;
      border: solid 1px #e8e9ed;
      border-radius: 5px; }
      .sectioncards .section__longcard .div__bottomlongcard .longcard__img {
        margin-top: 30px; }

.sectionpricing {
  border: solid black;
  width: 100%;
  margin: 40px auto; }
  .sectionpricing .pricing__h1 {
    font-family: Raleway;
    font-size: 2.5em; }
  .sectionpricing .pricing__basic {
    margin: 20px auto;
    width: 300px;
    height: 280px;
    border: solid #fb3b64 1px;
    border-radius: 20px;
    position: relative; }
    .sectionpricing .pricing__basic .pricing__header {
      display: inline-block;
      width: 35%;
      border: solid black; }
    .sectionpricing .pricing__basic .pricing__list {
      width: 60%;
      display: inline-block; }
      .sectionpricing .pricing__basic .pricing__list .list__item {
        width: 100%;
        display: block;
        border: solid blue; }
        .sectionpricing .pricing__basic .pricing__list .list__item .div__item {
          width: 45%; }
          .sectionpricing .pricing__basic .pricing__list .list__item .div__item .item__img {
            display: inline-block;
            text-align: left;
            border: solid black; }
        .sectionpricing .pricing__basic .pricing__list .list__item .item__text {
          display: inline-block;
          width: 70%;
          text-align: left; }

/*# sourceMappingURL=style.css.map */
