* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px; }

@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-Light.ttf); }
@font-face {
  font-family: RalewayBlod;
  src: url(../assets/fonts/Raleway-Bold.ttf); }
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Regular.ttf); }
.header {
  width: 100%;
  height: 60px;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.329); }
  .header .header__title {
    color: #08a6e4;
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    font-family: Raleway;
    font-size: 30px; }
  .header .header__burger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px; }
    .header .header__burger span {
      display: block;
      height: 3px;
      width: 100%;
      margin: 3px 0;
      background-color: #08a6e4; }
  .header .nav {
    display: none; }

@media screen and (min-width: 840px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 60px; }
    .header .header__burger {
      display: none; }
    .header .nav {
      display: flex; }
      .header .nav .nav__list {
        list-style: none;
        margin-top: 15px; }
      .header .nav .nav__item {
        display: inline-block;
        padding: 5px; }
      .header .nav .nav__link {
        text-decoration: none;
        color: #a5a5a5;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 0.7em;
        margin-right: 60px; }
        .header .nav .nav__link:hover {
          padding-bottom: 20px;
          border-bottom: solid 4px #08a6e4;
          color: black; } }
.open__section {
  text-align: center;
  width: 100%; }
  .open__section .open__article {
    margin: 100px auto 30px;
    width: 80%;
    height: 220px;
    top: 100px;
    left: 30px; }
    .open__section .open__article .open__article__title {
      font-family: Raleway;
      font-size: 35px;
      padding-top: 10px; }
    .open__section .open__article .open__article__text {
      font-family: "Open Sans";
      font-size: 15px;
      padding-top: 20px;
      margin: 0 20px; }
    .open__section .open__article .open__article__btn {
      cursor: pointer;
      background-color: #08a6e4;
      color: white;
      border: #08a6e4;
      border-radius: 40px;
      box-shadow: 0px 4px 10px rgba(8, 166, 228, 0.4);
      width: 100%;
      height: 60px;
      font-family: "Open Sans";
      font-size: 16px;
      margin-top: 30px; }
  .open__section .open__div {
    width: 100%;
    height: 260px;
    overflow: hidden; }
    .open__section .open__div .open__div__img {
      display: block;
      position: relative;
      background-size: 700px;
      width: 200%;
      margin: 0 auto;
      height: 100%;
      right: 12em; }

@media screen and (min-width: 840px) {
  .open__section .open__article {
    width: 25%;
    padding: 0 15px; }
  .open__section .open__div {
    height: 500px;
    width: 100%; }
    .open__section .open__div .open__div__img {
      display: block;
      position: inherit;
      width: 100%; } }
.most__section {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 10px auto;
  padding: 20px 0px; }
  .most__section .most__section__title {
    font-family: Raleway;
    font-size: 2em;
    padding: 0 1em;
    font-weight: lighter; }
  .most__section .most__article {
    margin-top: 20px;
    height: auto; }
    .most__section .most__article .most__article__stat {
      width: 160px;
      height: 170px;
      margin: 10px auto; }
      .most__section .most__article .most__article__stat .stat__circle {
        margin: 10px 0;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: inline-block;
        position: relative; }
        .most__section .most__article .most__article__stat .stat__circle .stat__circle__person {
          position: absolute;
          width: 40px;
          height: 50px;
          top: 2px; }
        .most__section .most__article .most__article__stat .stat__circle .stat__circle__eye {
          position: absolute;
          top: 10px;
          left: 18px; }
        .most__section .most__article .most__article__stat .stat__circle .stat__circle__catalog {
          position: absolute;
          width: 48px;
          height: 44px;
          top: 8px;
          left: 32px; }
      .most__section .most__article .most__article__stat .stat__number {
        font-family: RalewayBlod;
        font-weight: bold;
        font-size: 1.2em; }
      .most__section .most__article .most__article__stat .stat__text {
        font-family: Raleway;
        font-size: 1.1em;
        color: lightslategrey;
        margin: 20px 20px;
        text-align: center; }
    .most__section .most__article .stat__circle--red {
      background-color: #fb3b64; }
    .most__section .most__article .circle--blue {
      background-color: #08a6e4; }
    .most__section .most__article .circle--green {
      background-color: #55dfb4; }

@media screen and (min-width: 840px) {
  .most__section {
    margin: 50px 0; }
    .most__section .most__article {
      display: flex;
      margin: 50px auto;
      width: 50%; } }
.section__cards {
  border: solid #f7f7f7;
  background-color: #f7f7f7;
  margin-top: 40px; }
  .section__cards .section__card {
    width: 315px;
    height: 380px;
    margin: 40px auto;
    border: solid 1px #e8e9ed;
    border-radius: 5px;
    background-color: white; }
    .section__cards .section__card .div__card__one {
      width: 100%;
      height: auto;
      margin: 30px auto 10px;
      position: relative;
      display: inline-block; }
      .section__cards .section__card .div__card__one .card__circle {
        width: 90px;
        height: 90px;
        border-radius: 40px;
        transform: rotate(45deg);
        background-color: #fb3b64;
        position: absolute;
        left: 10.5em;
        bottom: 2.5em; }
      .section__cards .section__card .div__card__one .card__ellipse {
        width: 132px;
        height: 132px;
        background-color: #08a6e4;
        position: absolute;
        border-radius: 50%;
        left: 5em;
        bottom: 1em; }
      .section__cards .section__card .div__card__one .card__macbook {
        display: block;
        width: 195px;
        height: 110px;
        margin: 0 auto;
        position: relative; }
      .section__cards .section__card .div__card__one .card__phone {
        display: block;
        position: relative;
        margin: 0 auto;
        left: 0.9em;
        bottom: 0.4em; }
    .section__cards .section__card .div__card__two {
      width: 90%;
      height: auto;
      margin: 0px auto; }
      .section__cards .section__card .div__card__two .card__title {
        margin-top: 30px;
        font-family: Raleway;
        font-weight: 500;
        font-size: 2em;
        width: 218px; }
      .section__cards .section__card .div__card__two .card__text {
        margin-top: 40px;
        font-family: "Open Sans";
        font-size: 0.9em;
        color: black;
        font-weight: 500; }
      .section__cards .section__card .div__card__two .card__title__two {
        font-family: Raleway;
        font-weight: 500;
        font-size: 2em;
        width: 218px; }
      .section__cards .section__card .div__card__two .card__text__two {
        margin-top: 20px;
        font-family: "Open Sans";
        font-size: 0.9em;
        color: black;
        font-weight: 500; }
      .section__cards .section__card .div__card__two .card__line {
        display: none; }
  .section__cards .section__longcard {
    width: 315px;
    height: 520px;
    margin: 40px auto; }
    .section__cards .section__longcard .div__longcard__one {
      width: 100%;
      height: 270px;
      padding: 15px 0 5px 20px;
      border: solid 1px #e8e9ed;
      border-radius: 5px 5px 0 0;
      background-color: white; }
      .section__cards .section__longcard .div__longcard__one .longcard__title {
        font-family: Raleway;
        font-weight: 500;
        font-size: 2em;
        width: 260px; }
      .section__cards .section__longcard .div__longcard__one .longcard__text {
        width: 274px;
        margin-top: 20px;
        margin-right: 20px;
        font-family: "Open Sans";
        font-size: 1em;
        color: black;
        font-weight: 500; }
      .section__cards .section__longcard .div__longcard__one .card__line {
        display: none; }
    .section__cards .section__longcard .div__longcard__two {
      width: 100%;
      height: 220px;
      background-color: #55dfb4;
      border: solid 1px #e8e9ed;
      border-radius: 5px; }
      .section__cards .section__longcard .div__longcard__two .longcard__img {
        margin-top: 30px; }

@media screen and (min-width: 840px) {
  .section__cards .section__card {
    width: 50%;
    height: 370px;
    display: flex; }
    .section__cards .section__card .div__card__one .card__circle {
      width: 180px;
      height: 180px;
      bottom: 100px;
      left: 250px; }
    .section__cards .section__card .div__card__one .card__macbook {
      width: 380px;
      height: 220px;
      margin: 80px auto; }
    .section__cards .section__card .div__card__one .card__ellipse {
      width: 320px;
      height: 320px; }
    .section__cards .section__card .div__card__one .card__phone {
      width: 400px;
      height: 320px;
      left: 50px;
      top: 20px; }
    .section__cards .section__card .div__card__two {
      padding: 80px 40px 0; }
      .section__cards .section__card .div__card__two .card__line {
        display: flex;
        width: 320px;
        margin-top: 40px;
        border: solid #fb3b64 2px; }
      .section__cards .section__card .div__card__two .card__line--blue {
        border: solid #07ace6 2px; }
  .section__cards .section__card--right {
    flex-direction: row-reverse; }
  .section__cards .section__longcard {
    display: flex;
    justify-content: space-between;
    height: 370px;
    width: 50%; }
    .section__cards .section__longcard .div__longcard__one {
      border-radius: 5px;
      width: 520px;
      height: 370px;
      padding: 80px 0 0 30px; }
      .section__cards .section__longcard .div__longcard__one .longcard__title {
        width: 70%; }
      .section__cards .section__longcard .div__longcard__one .longcard__text {
        width: 80%; }
      .section__cards .section__longcard .div__longcard__one .card__line {
        display: flex;
        width: 320px;
        margin-top: 40px;
        border: solid #55dfb4 2px; }
    .section__cards .section__longcard .div__longcard__two {
      width: 370px;
      height: 370px; }
      .section__cards .section__longcard .div__longcard__two .longcard__img {
        margin-top: 100px;
        margin-left: 40px; } }
.section__pricing {
  width: 100%;
  margin: 40px auto;
  text-align: center; }
  .section__pricing .pricing__h1 {
    font-family: Raleway;
    font-size: 2.5em; }
  .section__pricing .pricing__card {
    width: 300px;
    height: 260px;
    border-radius: 20px;
    border: solid 1px #fb3b64;
    margin: 20px auto 50px;
    position: relative; }
    .section__pricing .pricing__card .pricing__card__left {
      display: inline-block;
      width: 35%;
      height: auto;
      position: relative;
      bottom: 60px;
      margin-left: 10px; }
      .section__pricing .pricing__card .pricing__card__left .pricing__card__title {
        font-family: RalewayBlod;
        font-size: 1.1em; }
      .section__pricing .pricing__card .pricing__card__left .pricing__card__text {
        font-family: "Open Sans";
        font-size: 3em;
        color: #fb3b64;
        font-weight: 300; }
      .section__pricing .pricing__card .pricing__card__left .pricing__card__offer {
        font-family: Raleway;
        font-size: 0.7em;
        font-weight: 700; }
      .section__pricing .pricing__card .pricing__card__left .pricing__card__text--blue {
        color: #07ace6; }
      .section__pricing .pricing__card .pricing__card__left .pricing__card__text--green {
        color: #55dfb4; }
    .section__pricing .pricing__card .pricing__card__left--blue {
      bottom: 40px; }
    .section__pricing .pricing__card .pricing__card__left--green {
      bottom: 40px; }
    .section__pricing .pricing__card .pricing__card__right {
      display: inline-block;
      width: 55%;
      height: auto;
      margin-left: 10px; }
      .section__pricing .pricing__card .pricing__card__right .pricing__card__list {
        list-style: none;
        text-align: left; }
        .section__pricing .pricing__card .pricing__card__right .pricing__card__list .pricing__card__item {
          margin: 20px 0;
          font-family: "Open Sans";
          font-size: 1em;
          font-weight: 400; }
          .section__pricing .pricing__card .pricing__card__right .pricing__card__list .pricing__card__item img {
            padding-right: 5px; }
    .section__pricing .pricing__card .pricing__card__button {
      border: 1px #eb476e;
      background-color: #eb476e;
      color: white;
      text-align: center;
      width: 150px;
      height: 50px;
      border-radius: 23px;
      position: relative;
      font-family: "Open Sans";
      font-weight: 700;
      font-size: 0.8em;
      margin-bottom: 20px;
      cursor: pointer; }
    .section__pricing .pricing__card .pricing__card__button--blue {
      background-color: #07ace6;
      border: solid 1px #07ace6; }
    .section__pricing .pricing__card .pricing__card__button--green {
      background-color: #55dfb4;
      border: solid 1px #55dfb4; }
  .section__pricing .pricing__card--blue {
    border: solid 1px #07ace6; }
  .section__pricing .pricing__card--green {
    border: solid 1px #55dfb4; }

@media screen and (min-width: 840px) {
  .section__pricing .pricing__cards {
    display: flex;
    width: 80%;
    margin: 15px auto; }
    .section__pricing .pricing__cards .pricing__card {
      width: 370px;
      height: 500px;
      text-align: center; }
      .section__pricing .pricing__cards .pricing__card .pricing__card__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 50px;
        left: 100px; }
      .section__pricing .pricing__cards .pricing__card .pricing__card__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
        margin-left: 10px; }
        .section__pricing .pricing__cards .pricing__card .pricing__card__right .pricing__card__list {
          width: 100%;
          margin-top: 50px;
          margin-left: 80px;
          text-align: center; }
      .section__pricing .pricing__cards .pricing__card .pricing__card__button {
        margin-top: 40px;
        margin-left: 20px; }
  .section__pricing .pricing__card--red:hover {
    box-shadow: 0px 4px 10px #eb476e;
    transform: scale(1.1); }
  .section__pricing .pricing__card--blue:hover {
    box-shadow: 0px 4px 10px rgba(7, 172, 230, 0.4);
    transform: scale(1.1); }
  .section__pricing .pricing__card--green:hover {
    box-shadow: 0px 4px 10px #55dfb4;
    transform: scale(1.1); }
  .section__pricing .pricing__card__button--red {
    top: 10px; } }
.sectionform {
  width: 100%;
  height: auto;
  margin: 60px auto; }
  .sectionform .article__form {
    width: 90%;
    margin: 0 auto; }
    .sectionform .article__form .form__title {
      font-family: Raleway;
      font-size: 2em;
      margin-bottom: 2px;
      font-weight: 600; }
    .sectionform .article__form .form__text {
      font-family: "Open Sans";
      font-size: 0.8em;
      display: inline-block; }
    .sectionform .article__form .form__contact {
      margin: 20px 0 40px; }
      .sectionform .article__form .form__contact .contact__item {
        margin-bottom: 10px; }
      .sectionform .article__form .form__contact .contact__img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 25px;
        height: 25px; }
      .sectionform .article__form .form__contact .contact__text {
        color: #a5a5a5;
        display: inline-block;
        vertical-align: middle;
        font-family: "Open Sans";
        font-size: 0.8em;
        font-weight: 600; }
    .sectionform .article__form .form {
      width: 315px;
      height: auto; }
      .sectionform .article__form .form .form__label {
        display: block;
        text-align: left;
        font-family: "Open Sans";
        color: #08a6e4;
        font-size: 0.6em;
        font-weight: 700;
        font-variant: small-caps;
        margin: 10px 0 5px; }
      .sectionform .article__form .form .form__input {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #95989a; }
      .sectionform .article__form .form .checkbox__container {
        display: block;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 30px; }
        .sectionform .article__form .form .checkbox__container .form__checkbox {
          margin-right: 10px;
          cursor: pointer;
          width: 24px;
          height: 24px;
          border: solid 1px #95989a;
          border-radius: 3px; }
        .sectionform .article__form .form .checkbox__container .checkbox__label {
          font-family: "Open Sans";
          color: #707070;
          font-size: 0.8em;
          line-height: 1.5;
          vertical-align: middle;
          text-align: end; }
      .sectionform .article__form .form .form__button {
        background-color: #08a6e4;
        color: white;
        border: 1px solid #08a6e4;
        border-radius: 30px;
        padding: 15px 50px;
        cursor: pointer;
        text-align: center;
        display: block;
        width: 180px;
        margin: 20px 0px 20px 130px;
        font-family: "Open Sans";
        font-size: 0.8em;
        font-weight: 600;
        box-shadow: 0px 4px 10px rgba(8, 166, 228, 0.69); }

@media screen and (min-width: 840px) {
  .sectionform {
    margin: 0 auto; }
    .sectionform .article__form {
      width: 60%;
      display: flex;
      justify-content: center; }
      .sectionform .article__form .form__head {
        width: 35%;
        margin-top: 20px; }
        .sectionform .article__form .form__head .form__contact {
          display: flex; }
        .sectionform .article__form .form__head .contact__item {
          padding-right: 15px; }
      .sectionform .article__form .form {
        width: 40%; }
        .sectionform .article__form .form .div__button {
          margin-left: 130px; }
          .sectionform .article__form .form .div__button .form__button {
            font-size: 0.8em; } }
.footer {
  width: 100%;
  height: 60px;
  position: relative;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.329); }
  .footer .footer__div {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
    margin-left: 20px; }
    .footer .footer__div .footer__title {
      font-family: Raleway;
      font-size: 1.8em;
      color: #08a6e4; }
    .footer .footer__div .footer__text {
      font-family: "Open Sans";
      font-size: 0.8em;
      color: #a5a5a5; }
  .footer .footer__icon {
    position: absolute;
    width: 20%;
    top: 15px;
    right: 20px; }
    .footer .footer__icon .footer__img {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px; }

@media screen and (min-width: 840px) {
  .footer {
    display: flex;
    justify-content: space-between; }
    .footer .footer__div {
      margin-left: 100px; }
    .footer .footer__icon {
      width: 100px;
      margin-right: 100px; } }

/*# sourceMappingURL=style.css.map */
