.sectionform {
  width: 100%;
  height: auto;
  margin: 60px auto;
  .article__form {
    width: 90%;
    margin: 0 auto;
    .form__title {
      font-family: $f_Raleway;
      font-size: 2em;
      margin-bottom: 2px;
      font-weight: 600;
    }
    .form__text {
      font-family: $f_OpenSans;
      font-size: 0.8em;
      display: inline-block;
    }
    .form__contact {
      margin: 20px 0 40px;
      .contact__item {
        margin-bottom: 10px;
      }
      .contact__img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 25px;
        height: 25px;
      }
      .contact__text {
        color: $c_Grey;
        display: inline-block;
        vertical-align: middle;
        font-family: $f_OpenSans;
        font-size: 0.8em;
        font-weight: 600;
      }
    }
    .form {
      width: 315px;
      height: auto;
      .form__label {
        display: block;
        text-align: left;
        font-family: $f_OpenSans;
        color: $c_Blue;
        font-size: 0.6em;
        font-weight: 700;
        font-variant: small-caps;
        margin: 10px 0 5px;
      }
      .form__input {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid rgba(149, 152, 154, 1);
      }
      .checkbox__container {
        display: block;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 30px;
        .form__checkbox {
          margin-right: 10px;
          cursor: pointer;
          width: 24px;
          height: 24px;
          border: solid 1px rgba(149, 152, 154, 1);
          border-radius: 3px;
        }
        .checkbox__label {
          font-family: $f_OpenSans;
          color: rgba(112, 112, 112, 1);
          font-size: 0.8em;
          line-height: 1.5;
          vertical-align: middle;
          text-align: end;
        }
      }
      .form__button {
        background-color: $c_Blue;
        color: $c_White;
        border: 1px solid $c_Blue;
        border-radius: 30px;
        padding: 15px 50px;
        cursor: pointer;
        text-align: center;
        display: block;
        width: 180px;
        margin: 20px 0px 20px 130px;
        font-family: $f_OpenSans;
        font-size: 0.8em;
        font-weight: 600;
        box-shadow: 0px 4px 10px rgba(8, 166, 228, 0.69);
      }
      .error-message {
        color: red;
        font-size: 12px;
        display: none;
      }
      .error {
        border: 2px solid red;
      }
      .errorCheckbox {
        outline: 2px solid red;
        border-radius: 3px;
        padding: 2px;
      }
    }
  }
}

@media screen and (min-width: 840px) {
  .sectionform {
    margin: 0 auto;
    .article__form {
      width: 60%;
      display: flex;
      justify-content: center;
      .form__head {
        width: 35%;
        margin-top: 20px;
        .form__contact {
          display: flex;
        }
        .contact__item {
          padding-right: 15px;
        }
      }
      .form {
        width: 40%;
        .div__button {
          margin-left: 130px;
          .form__button {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
