.open__section{
    text-align: center;
    width: 100%;
    .open__article{
        margin: 100px auto 30px;
        width: 80%;
        height: 220px;
        top: 100px;
        left: 30px;
        .open__article__title{
            font-family: $f_Raleway;
            font-size: 35px;
            padding-top: 10px;
        }
        .open__article__text{
            font-family: $f_OpenSans;
            font-size: 15px;
            padding-top: 20px;
            margin: 0 20px;
        }
        .open__article__btn{
            cursor: pointer;
            background-color: $c_Blue;
            color: $c_White;
            border: $c_Blue;
            border-radius: 40px;
            box-shadow: 0px 4px 10px rgba($c_Blue, 0.4);
            width: 100%;
            height: 60px;
            font-family: $f_OpenSans;
            font-size: 16px;
            margin-top: 30px;
        }
    }

    .open__div{
        width: 100%;
        height: 260px;
        overflow: hidden;
        .open__div__img{
            display: block;
            position: relative;
            background-size: 700px;
            width: 200%;
            margin: 0 auto;
            height: 100%;
            right: 12em;
        }
    }
}

@media screen and (min-width: 840px){
    .open__section{
        .open__article{
            width: 25%;
            padding: 0 15px;
        }

        .open__div{
            height: 500px;
            width: 100%;
            .open__div__img{
                display: block;
                position: inherit;
                width: 100%;
            }
        }
    }
    
}
