.section__pricing{
    width: 100%;
    margin: 40px auto;
    text-align: center;
    .pricing__h1{
        font-family: $f_Raleway;
        font-size: 2.5em;
    }
    .pricing__card{
        width: 300px;
        height: 260px;
        border-radius: 20px;
        border: solid 1px $c_Red;
        margin: 20px auto 50px;        
        position: relative;
        .pricing__card__left{
            display: inline-block;
            width: 35%;
            height: auto;
            position: relative;
            bottom: 60px;
            margin-left: 10px;
            .pricing__card__title{
                font-family: $f_RalewayBlod;
                font-size: 1.1em;
            }
            .pricing__card__text{
                font-family: $f_OpenSans;
                font-size: 3em;
                color: $c_Red;
                font-weight: 300;
            }
            .pricing__card__offer{
                font-family: $f_Raleway;
                font-size: 0.7em;
                font-weight: 700;
            }
            .pricing__card__text--blue{
                color: $c_BlueCard;
            }
            .pricing__card__text--green{
                color: $c_Green;
            }
        }
        .pricing__card__left--blue{
            bottom: 40px;
        }
        .pricing__card__left--green{
            bottom: 40px;
        }
        .pricing__card__right{
            display: inline-block;
            width: 55%;
            height: auto;
            margin-left: 10px;
            .pricing__card__list{
                list-style: none;
                text-align: left;
                .pricing__card__item{
                    margin: 20px 0;
                    font-family: $f_OpenSans;
                    font-size: 1em;
                    font-weight: 400;
                    img {
                        padding-right: 5px;
                    }
                }
            }            
        }
        .pricing__card__button{
            border: 1px $c_RedCard;
            background-color: $c_RedCard;
            color: $c_White;
            text-align: center;
            width: 150px;
            height: 50px;
            border-radius: 23px;
            position: relative;
            font-family: $f_OpenSans;
            font-weight: 700;
            font-size: 0.8em;
            margin-bottom: 20px;
            cursor: pointer;            
        }
        .pricing__card__button--blue{
            background-color: $c_BlueCard;
            border: solid 1px $c_BlueCard;
        }
        .pricing__card__button--green{
            background-color: $c_Green;
            border: solid 1px $c_Green;
        }
    }
    .pricing__card--blue{
        border: solid 1px $c_BlueCard;
    }
    .pricing__card--green{
        border: solid 1px $c_Green;
    }
    .pricing__select{
        margin: 20px 0;
        padding: 20px 0;
        .select{
            width: 100px;
            padding: 10px;
            border: solid $c_BlueCard;
            border-radius: 20px;
            text-align: center;
        }
    }       
}

@media screen and (min-width: 840px){
    .section__pricing{
        .pricing__cards{            
            display: flex;
            width: 80%;
            margin: 15px auto;
            .pricing__card{
                width: 370px;
                height: 500px;
                text-align: center;
                .pricing__card__left{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    top: 50px;
                    left: 100px
                }
                .pricing__card__right{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: 60px;
                    margin-left: 10px;
                    .pricing__card__list{
                        width: 100%;
                        margin-top: 50px;
                        margin-left: 80px;
                        text-align: center;
                    }
                }
                .pricing__card__button{
                    margin-top: 40px;
                    margin-left: 20px;
                }
            }
        }

        .pricing__card--red:hover{
            box-shadow: 0px 4px 10px $c_RedCard;
            transform: scale(1.1);
        }

        .pricing__card--blue:hover{
            box-shadow: 0px 4px 10px rgba($c_BlueCard, 0.4);
            transform: scale(1.1);
        }

        .pricing__card--green:hover{
            box-shadow: 0px 4px 10px $c_Green;
            transform: scale(1.1);
        }

        .pricing__card__button--red{
            top: 10px;
        }
    }
}